
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>payment_Link</title>
</head>
<body>
    <div style="text-align:center;">
        <b>Payment Link</b>
    </div>
</body>
</html>
